{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  .center { margin: auto; width: 60%; border: 3px solid #73AD21; padding: 10px; }
  </style>
{% endblock %}
{% block content %}
  <h1>Renato Fabbri's homepage</h1>
  {% if True %}
  {% endif %}
  <div>
    <h4>~ current interests ~</h4>
    <ul>
    {% for inte in interests: %}
      <li>{{ inte }}</li>
    {% endfor %}
    </ul>


    <h4>~ works ~</h4>
    you may find results in:
    <ul>
    {% for work in works: %}
      <li><a href="{{ work[1] }}">{{ work[0] }}</a></li>
    {% endfor %}
    </ul>
    
    <h4>~ selected works ~</h4>
    <ul>
    {% for sele in selected: %}
    <li>{{ sele }}</li>
    {% endfor %}
    </ul>

    <h4>~ acknowledgments ~</h4>
    ICMC/USP, IFSC/USP, FAPESP, labMacambira.sf.net
  </div>
  <br>
{% endblock %}

